/* Navbar Section */

.topnav
{
    padding: 40px 5%;
    position: fixed;
    width: 100%;

}

.navbar
{
    background-color: rgba(0, 0, 0, 0.459);
    border: none;
    color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;

}

.navbar .left
{
    display: flex;
    align-items: center;

}

.navbar .left h2
{
    font-size: 20px;
    font-family: cursive;

}

.navbar .logo
{
    width: 90px;
    cursor: pointer;

}

.navbar .middle
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    
}

.navbar .middle #h2
{
    font-size: 15px;
    
}

.navbar .middle h2
{
    font-family: cursive;
    cursor: pointer;
    padding-bottom: 6px;
    font-size: 15px;

}

.navbar .middle .tap
{
    border-bottom: 2px solid white;
    width: fit-content;

}

/* Stadium Section */

.stadium
{
    height: 100vh;
    width: 100vw;

}

/* Feed_back Section */

.feedback
{
    padding: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 22px;
    position: absolute;
    margin: -170px 0 0 5%;

}

.feedback:hover + .content
{
    display: block;
    
}

.content
{
    display: none;
    
}

.content p
{
    font-size: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    position: absolute;
    margin: -160px 0 0 9%;
    
}

/* text */
.text
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 25px 3%;
    gap: 12px;
    color: darkslategray;
    font-family: cursive;

}

.text h1
{
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
    padding-bottom: 7px;

}

.text h3
{
    font-size: 19px;
    
}

/* Phone responsiveness */

.topnav_phone
{
    margin: 40px 5%;
    position: fixed;
    width: 90%;
    
}

.navbar_phone
{
    background-color: rgba(0, 0, 0, 0.459);
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-family: cursive;
    display: flex;
    width: 100%;
    align-items: center;

}

.navbar_phone .left .logo_phone
{
    width: 85px;

}

.navbar_phone .left
{
    display: flex;
    align-items: center;

}

.navbar_phone .left h2
{
    font-family: cursive;
    font-size: 18px;

}

.navbar_phone .right
{
    margin-left: auto;

}

.topnav_phone .navbar .right h2:active
{
    transition: all 0.9s all;
    transform: scale(0.90);
    
}

.navbar_phone .right .dropdown_icon_phone
{
    cursor: pointer;

}

.navbar_phone .right .dropdown_phone
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    margin-left: -40px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: cursive;
    position: fixed;
    box-shadow: 0.5px 0.5px 20px black;

}

.navbar_phone .right .dropdown_phone h2
{
    border: 2px solid transparent;
    width: 100%;
    padding: 3px;
    font-size: 14px;

}

.tap_phone
{
    background-color: white;
    color: black;
    width: 100%;
    border: 2px solid black;

}

/* stadium */

.stadium_phone
{
    height: 80vh;

}

/* Feedback */

.feedback_phone
{
    padding: 6px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 20px;
    position: absolute;
    margin: -170px 0 0 5%;

}

.feedback_phone:hover + .content_phone
{
    display: block;
    
}

.content_phone
{
    display: none;
    
}

.content_phone p
{
    font-size: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    position: absolute;
    margin: -160px 0 0 15%;
    
}

/* text_phone */
.text_phone
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 25px 3%;
    gap: 12px;
    color: darkslategray;
    font-family: cursive;

}

.text_phone h1
{
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 7px;

}

.text_phone h3
{
    font-size: 16px;
    
}