/* Stadium */

.stadium
{
    height: 230%;
    width: 100%;
    position: absolute;

}

/* Navbar */

.topnav
{
    padding: 40px 5%;
    position: relative;
    width: 100%;

}

.navbar
{
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;

}

.navbar .left
{
    display: flex;
    align-items: center;

}

.navbar .left h2
{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar .logo
{
    width: 60px;
    cursor: pointer;

}

.navbar .middle
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    
}

.navbar .middle h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding-bottom: 6px;
    font-size: 17px;

}

.navbar .middle .tap
{
    border-bottom: 2px solid white;
    width: fit-content;

}

/* Feed_back Section */

.feedback
{
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: black;
    width: fit-content;
    font-size: 22px;
    position: fixed;
    margin-top: 320px;
    margin-left: -17%;

}

.feedback:hover + .content
{
    display: block;
    
}

.content
{
    display: none;
    
}

.content p
{
    font-size: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    position: fixed;
    /* margin: -160px 0 0 9%; */
    margin: 330px -13%;
    
}

/* Players */

.baba
{
    display: flex;
    align-items: center;
    justify-content: center;

}

.flex
{
    position: relative;
}

.ctn
{
    /* margin-top: -1680px; */
    height: 703px;
    border-radius: 10px;

}

.img
{
    cursor: pointer;

}

.moveTop p
{
    padding: 10px;
    /* margin-top: -1480px; */
    margin-top: 300px;
    position: fixed;
    font-size: 25px;
    background-color: black;
    width: 50px;
    border: none;
    border-radius: 5px;
    margin-left: 170px;

}

p
{
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 5px;
    font-size: 16px;
    margin-top: 10px;

}

h2
{
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

h3
{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.tap
{
    border-bottom: 2px solid white;
    display: flex;

    width: fit-content;
    
}

.head-1
{
    width: 740px;
    border-bottom: 2px solid white;
}

.madrid-head
{
    display: flex;
    background-color: black;
    padding: 15px 10px;
    display: flex;
    border-radius: 10px 10px 0 0;
    text-align: center;
    align-items: center;

}

.madrid-head h2
{
    color: white;

}

.name
{
    width: 350px;
    font-size: 18px;

}

.position
{
    width: 140px;
    font-size: 18px;

}

.age
{
    width: 90px;
    font-size: 18px;

}

.height
{
    width: 70px;
    font-size: 18px;

}

.weight
{
    width: 90px;
    font-size: 18px;

}

.data-head
{
    background-color: black;
    width: 740px;
    color: white;
    padding: 15px;
    display: flex;

}

.one
{
    width: 740px;
    background-color: black;
    color: white;
    display: flex;
    padding: 15px 15px;
    align-items: center;

}

.player-name
{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 350px;

}

.player-data
{
    border-top: 2px solid white;

}

.play
{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    transition: 0.7s;
    
}

.play:hover
{
    transform: scale(1.1);
    transition: all 0.7s ease;
}

.play-pst
{
    width: 140px;

}

.play-age
{
    width: 90px;

}

.play-height
{
    width: 70px;

}

.play-width
{
    width: 90px;

}

.flex
{
    display: flex;
    justify-content: center;

}

.btn-ctn
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;

}

.btn
{
    background-color: black;
    border: 2px solid white;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 13px 20px;
    display: flex;
    justify-content: center;
    transition: all 0.8s;
    align-items: center;
    width: 140px;
    cursor: pointer;

}

.btn-2
{
    background-color: black;
    border: 2px solid white;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 18px;
    border-radius: 5px;
    padding: 13px 20px;
    display: flex;
    justify-content: center;
    transition: all 0.8s;
    align-items: center;
    width: 140px;
    cursor: pointer;

}

.btn:hover
{
    background-color: white;
    transition: all 0.8s ease;
    color: black;
    border: 2px solid black;
    transform: scale(0.98);

}

.btn-2:hover
{
    background-color: white;
    transition: all 0.8s ease;
    color: black;
    border: 2px solid black;
    transform: scale(0.98);

}

.btn:active
{
    background-color: black;
    color: white;
    border: 2px solid white;

}

/* Small Laptop Responsiveness */
/* Stadium */

.stadium_small_laptop
{
    height: 230%;
    width: 100%;
    position: absolute;

}

/* Navbar */

.topnav_small_laptop
{
    padding: 40px 5%;
    position: relative;
    width: 100%;

}

.navbar_small_laptop
{
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;

}

.navbar_small_laptop .left
{
    display: flex;
    align-items: center;

}

.navbar_small_laptop .left h2
{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar_small_laptop .logo
{
    width: 60px;
    cursor: pointer;

}

.navbar_small_laptop .middle
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    
}

.navbar_small_laptop .middle h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding-bottom: 6px;
    font-size: 17px;

}

.navbar_small_laptop .middle .tap
{
    border-bottom: 2px solid white;
    width: fit-content;

} 

.ctn_small_laptop
{
    position: absolute;

}

.logo_small_laptop
{
    width: 55px;

}

.baba_small_laptop
{
    display: flex;
    flex-direction: column;

}

.ctn_small_laptop
{
    background-color: black;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    margin: 10px 5%;
    width: 90%;

}

.ctn_small_laptop h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 19px;

}

.info_small_laptop
{
    background-color: black;
    border-top: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    margin: 75px 5%;
    width: 90%;
    gap: 40px;
    padding: 10px;

}

.info_small_laptop h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;

}

.info_small_laptop .pst_small_laptop
{
    margin-left: 500px;

}

/* .info_small_laptop .ag_small_laptop
{
    margin-left: 45px;

}

.info_small_laptop .ht_small_laptop
{
    margin-left: 30px;

}

.info_small_laptop .wt_small_laptop
{
    margin-left: 35px;

} */

.luka_modric_small_laptop .name_small_laptop
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.modric_img_small_laptop
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.modric_img_small_laptop:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.luka_modric_small_laptop
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 120px 5%;
    gap: 40px;
    width: 90%;
    font-size: 17px;

}

.luka_modric_small_laptop .position_small_laptop
{
    margin-left: 345px;

}

/* Toni_Kroos */

.toni_kroos_small_laptop .name_small_laptop
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.toni_kroos_img_small_laptop
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.toni_kroos_img_small_laptop:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.toni_kroos_small_laptop
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 190px 5%;
    gap: 40px;
    width: 90%;
    font-size: 17px;

}

.toni_kroos_small_laptop .position_small_laptop
{
    margin-left: 360px;

}

/* David_Alaba */

.david_alaba_small_laptop .name_small_laptop
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.david_alaba_img_small_laptop
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.david_alaba_img_small_laptop:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.david_alaba_small_laptop
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 260px 5%;
    gap: 40px;
    width: 90%;
    font-size: 17px;

}

.david_alaba_small_laptop .position_small_laptop
{
    margin-left: 360px;

}

/* Nacho */

.nacho_small_laptop .name_small_laptop
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.nacho_img_small_laptop
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.nacho_img_small_laptop:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.nacho_small_laptop
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 330px 5%;
    gap: 40px;
    width: 90%;
    font-size: 17px;

}

.nacho_small_laptop .position_small_laptop
{
    margin-left: 395px;

}

/* Mato Joselu */
.mato_joselu_small_laptop .name_small_laptop
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.mato_joselu_img_small_laptop
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.mato_joselu_img_small_laptop:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.mato_joselu_small_laptop
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 400px 5%;
    gap: 43px;
    width: 90%;
    font-size: 17px;

}

.mato_joselu_small_laptop .position_small_laptop
{
    margin-left: 354px;

}

/* Thibaut Courtois */

.thibaut_courtois_small_laptop .name_small_laptop
{
    display: flex;
    align-items: center;
    gap: 13px;

}

.thibaut_courtois_img_small_laptop
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.thibaut_courtois_img_small_laptop:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.thibaut_courtois_small_laptop
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 470px 5%;
    gap: 30px;
    width: 90%;
    font-size: 17px;

}

.thibaut_courtois_small_laptop .position_small_laptop
{
    margin-left: 325px;

}

.thibaut_courtois_small_laptop .height_small_laptop
{
    margin-left: 12px;

}

.thibaut_courtois_small_laptop .weight_small_laptop
{
    margin-left: 10px;

}

.see_more_small_laptop
{
    margin-top: 540px;
    margin-left:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.7s;

}

.see_more_small_laptop:hover
{
    color: black;
    background-color: white;
    border: 2px solid transparent;
    transition: all 0.7s;

}

.see_more_small_laptop:active
{
    background-color: black;
    color: white;
    transform: scale(0.98);

}

/* Tablet Responsiveness */
/* Stadium */

.stadium_tablet
{
    height: 230%;
    width: 100%;
    position: absolute;

}

/* Navbar */

.topnav_tablet
{
    padding: 40px 5%;
    position: relative;
    width: 100%;

}

.navbar_tablet
{
    background-color: black;
    border: none;
    color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;

}

.navbar_tablet .left
{
    display: flex;
    align-items: center;

}

.navbar_tablet .left h2
{
    font-size: 24px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.navbar_tablet .logo
{
    width: 60px;
    cursor: pointer;

}

.navbar_tablet .middle
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    
}

.navbar_tablet .middle h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding-bottom: 6px;
    font-size: 17px;

}

.navbar_tablet .middle .tap
{
    border-bottom: 2px solid white;
    width: fit-content;

} 

.ctn_tablet
{
    position: absolute;

}

.logo_tablet
{
    width: 55px;

}

.baba_tablet
{
    display: flex;
    flex-direction: column;

}

.ctn_tablet
{
    background-color: black;
    padding: 10px;
    border-radius: 5px 5px 0 0;
    display: flex;
    align-items: center;
    margin: 10px 5%;
    width: 90%;

}

.ctn_tablet h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 19px;

}

.info_tablet
{
    background-color: black;
    border-top: 2px solid white;
    color: white;
    display: flex;
    align-items: center;
    position: absolute;
    margin: 75px 5%;
    width: 90%;
    gap: 40px;
    padding: 10px;

}

.info_tablet h2
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17px;

}

.info_tablet .pst_tablet
{
    margin-left: 300px;

}

/* .info_tablet .ag_tablet
{
    margin-left: 45px;

}

.info_tablet .ht_tablet
{
    margin-left: 30px;

}

.info_tablet .wt_tablet
{
    margin-left: 35px;

} */

.luka_modric_tablet .name_tablet
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.modric_img_tablet
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.modric_img_tablet:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.luka_modric_tablet
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 120px 5%;
    gap: 40px;
    width: 90%;
    font-size: 17px;

}

.luka_modric_tablet .position_tablet
{
    margin-left: 145px;

}

/* Toni_Kroos */

.toni_kroos_tablet .name_tablet
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.toni_kroos_img_tablet
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.toni_kroos_img_tablet:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.toni_kroos_tablet
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 190px 5%;
    gap: 40px;
    width: 90%;
    font-size: 17px;

}

.toni_kroos_tablet .position_tablet
{
    margin-left: 160px;

}

/* David_Alaba */

.david_alaba_tablet .name_tablet
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.david_alaba_img_tablet
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.david_alaba_img_tablet:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.david_alaba_tablet
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 260px 5%;
    gap: 40px;
    width: 90%;
    font-size: 17px;

}

.david_alaba_tablet .position_tablet
{
    margin-left: 160px;

}

/* Nacho */

.nacho_tablet .name_tablet
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.nacho_img_tablet
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.nacho_img_tablet:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.nacho_tablet
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 330px 5%;
    gap: 40px;
    width: 90%;
    font-size: 17px;

}

.nacho_tablet .position_tablet
{
    margin-left: 195px;

}

/* Mato Joselu */
.mato_joselu_tablet .name_tablet
{
    display: flex;
    align-items: center;
    gap: 15px;

}

.mato_joselu_img_tablet
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.mato_joselu_img_tablet:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.mato_joselu_tablet
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 400px 5%;
    gap: 43px;
    width: 90%;
    font-size: 17px;

}

.mato_joselu_tablet .position_tablet
{
    margin-left: 154px;

}

/* Thibaut Courtois */

.thibaut_courtois_tablet .name_tablet
{
    display: flex;
    align-items: center;
    gap: 13px;

}

.thibaut_courtois_img_tablet
{
    width: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.7s;

}

.thibaut_courtois_img_tablet:hover
{
    transform: scale(1.1);
    transition: all 0.7s;

}

.thibaut_courtois_tablet
{
    background-color: black;
    position: absolute;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-top: 2px solid white;
    margin: 470px 5%;
    gap: 30px;
    width: 90%;
    font-size: 17px;

}

.thibaut_courtois_tablet .position_tablet
{
    margin-left: 125px;

}

.thibaut_courtois_tablet .height_tablet
{
    margin-left: 12px;

}

.thibaut_courtois_tablet .weight_tablet
{
    margin-left: 10px;

}

.see_more_tablet
{
    margin-top: 540px;
    margin-left: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: black;
    border: 2px solid white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: white;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.7s;

}

.see_more_tablet:hover
{
    color: black;
    background-color: white;
    border: 2px solid transparent;
    transition: all 0.7s;

}

.see_more_tablet:active
{
    background-color: black;
    color: white;
    transform: scale(0.98);

}

/* Phone Responsiveness */

/* Navbar */
.topnav_phone
{
    margin: 40px 5%;
    position: absolute;
    width: 90%;

}

.topnav_phone .navbar
{
    display: flex;
    align-items: center;

}

.topnav_phone .navbar .left
{
    display: flex;
    align-items: center;

}

.topnav_phone .navbar .left h2
{
    font-size: 20px;

}

.topnav_phone .navbar .right
{
    display: flex;
    margin-left: auto;

}

.topnav_phone .navbar .right h2:active
{
    transition: all 0.9s all;
    transform: scale(0.90);
    
}

.topnav_phone .navbar .right .dropdown_phone
{
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: black;
    box-shadow: 0.5px 0.5px 25px black;
    border: 2px solid white;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-left: -30px;

}

.topnav_phone .navbar .right .dropdown_phone h2
{
    cursor: pointer;
    padding: 3px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.tap_phone
{
    color: black;
    background-color: white;

}

/* Stadium */
.stadium_phone
{
    height: 200vh;

}

/* Players */
.players_details_phone
{
    position: absolute;
    margin: 240px 5%;
    width: 90%;

}

.players_details_phone .heading
{
    display: flex;
    background-color: black;
    color: white;
    font-size: 19px;
    align-items: center;
    padding: 5px;
    border: none;
    border-radius: 10px 10px 0 0;

}

.players_details_phone .heading .logo_phone
{
    width: 60px;

}

.players_details_phone .details
{
    background-color: black;
    padding: 2px;

}

.players_details_phone .details .player_phone
{
    display: flex;
    color: white;
    border-top: 2px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    gap: 40px;
    padding: 8px;
    align-items: center;

}

.players_details_phone .details .player_phone .name
{
    display: flex;
    gap: 10px;
    align-items: center;

}

.players_details_phone .details .player_phone .img_phone
{
    width: 45px;
    border: none;
    border-radius: 50%;
    transition: 0.8s;
    cursor: pointer;

}

.players_details_phone .details .player_phone .img_phone:hover
{
    transform: scale(0.97);
    transition: all 0.8s ease;

}

.players_details_phone .details .player_phone .position
{
    margin-left: auto;
    display: flex;
    gap: 20px;
    align-items: center;

}

.see_more_phone
{
    position: absolute;
    background-color: black;
    padding: 8px;
    border: 2px solid white;
    cursor: pointer;
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -5px;
    transition: 0.8s;
    margin-left: 45%;
    border-radius: 10px;

}

.see_more_phone:active
{
    background-color: white;
    border: 2px solid white;
    color: black;
    transition: all 0.8s ease;
    transform: scale(0.97);

}