/* Stadium */

.stadium
{
    height: 390%;
    width: 100%;
    position: absolute;

}

/* Navbar */

.topnav
{
    padding: 40px 5%;
    position: relative;
    width: 100%;

}

.navbar
{
    background-color: rgba(0, 0, 0, 0.459);
    border: none;
    color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;

}

.navbar .left
{
    display: flex;
    align-items: center;

}

.navbar .left h2
{
    font-size: 20px;
    font-family: cursive;

}

.navbar .logo
{
    /* width: 60px; */
    width: 80px;
    cursor: pointer;

}

.navbar .middle
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    
}

.navbar .middle h2
{
    font-family: cursive;
    cursor: pointer;
    padding-bottom: 6px;
    font-size: 15px;

}

.navbar .middle .tap
{
    border-bottom: 2px solid white;
    width: fit-content;

}

/* Feed_back Section */

.feedback
{
    padding: 6px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 22px;
    position: fixed;
    margin-top: 320px;
    margin-left: -17%;

}

.feedback:hover + .content
{
    display: block;
    
}

.content
{
    display: none;
    
}

.content p
{
    font-size: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: cursive;
    width: fit-content;
    position: fixed;
    /* margin: -160px 0 0 9%; */
    margin: 330px -13%;
    
}

/* Players */

.baba
{
    display: flex;
    align-items: center;
    justify-content: center;

}

.flex
{
    position: relative;
}

.ctn
{
    /* margin-top: -1680px; */
    height: 703px;
    margin-top: 50px;
    border-radius: 10px;

}

.img
{
    cursor: pointer;

}

.moveTop p
{
    padding: 6px 10px;
    margin-top: 300px;
    position: fixed;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    border: none;
    border-radius: 10px;
    margin-left: 170px;

}

p
{
    cursor: pointer;
    font-family: cursive;
    padding-bottom: 5px;
    font-size: 16px;
    margin-top: 10px;

}

h2
{
    cursor: pointer;
    font-family: cursive;

}

h3
{
    font-size: 16px;
    font-family: cursive;

}

.tap
{
    border-bottom: 2px solid white;
    display: flex;

    width: fit-content;
    
}

.head-1
{
    width: 740px;
    border-bottom: 2px solid white;
}

.madrid-head
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 15px 10px;
    display: flex;
    border-radius: 30px 30px 0 0;
    text-align: center;
    align-items: center;

}

.madrid-head h2
{
    color: white;
    font-size: 19px;

}

.name
{
    width: 350px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.position
{
    width: 140px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.age
{
    width: 90px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.height
{
    width: 70px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.weight
{
    width: 90px;
    font-size: 19px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.data-head
{
    background-color: rgba(0, 0, 0, 0.459);
    width: 740px;
    color: white;
    padding: 15px;
    display: flex;

}

.one
{
    width: 740px;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    padding: 15px 15px;
    align-items: center;

}

.player-name
{
    display: flex;
    align-items: center;
    gap: 7px;
    width: 350px;

}

.player-name h3
{
    font-size: 15px;

}

.player-data
{
    border-top: 2px solid white;

}

.play
{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    transition: 0.7s;
    
}

.play:hover
{
    transform: scale(0.95);
    transition: all 0.7s ease;
}

.play-pst
{
    width: 140px;
    font-size: 15px;

}

.play-age
{
    width: 90px;
    font-size: 15px;

}

.play-height
{
    width: 70px;
    font-size: 15px;

}

.play-width
{
    width: 90px;
    font-size: 15px;

}

.flex
{
    display: flex;
    justify-content: center;

}

.btn-ctn
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -10px;

}

.btn
{
    background-color: rgba(0, 0, 0, 0.459);
    border: 2px solid transparent;
    color: white;
    font-family: cursive;
    font-size: 14px;
    border-radius: 5px;
    padding: 13px 20px;
    display: flex;
    justify-content: center;
    transition: all 0.8s;
    align-items: center;
    width: 140px;
    cursor: pointer;

}

.btn-2
{
    background-color: rgba(0, 0, 0, 0.459);
    border: 2px solid transparent;
    color: white;
    font-family: cursive;
    font-size: 14px;
    border-radius: 5px;
    padding: 13px 20px;
    display: flex;
    justify-content: center;
    transition: all 0.8s;
    align-items: center;
    width: 140px;
    cursor: pointer;

}

.btn:hover
{
    transition: all 0.8s ease;
    border: 2px solid white;
    transform: scale(0.94);

}

.btn-2:hover
{
    transition: all 0.8s ease;
    border: 2px solid white;
    transform: scale(0.94);

}

.btn:active
{
    background-color: black;
    color: white;
    border: 2px solid white;

}

/* small_laptop */

/* Feed_back Section */

.feedback_small
{
    padding: 6px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 22px;
    position: fixed;
    margin-top: 320px;
    margin-left: -8%;

}

.feedback_small:hover + .content
{
    display: block;
    
}

.content
{
    display: none;
    
}

.content p
{
    font-size: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: cursive;
    width: fit-content;
    position: fixed;
    /* margin: -160px 0 0 9%; */
    margin: 330px -13%;
    
}

/* moveTop */
.moveTop_small p
{
    padding: 6px 10px;
    margin-top: 300px;
    position: fixed;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    border: none;
    border-radius: 10px;
    margin-left: 50px;

}

p
{
    cursor: pointer;
    font-family: cursive;
    padding-bottom: 5px;
    font-size: 15px;
    margin-top: 10px;

}

/* phone responsiveness */

/* Navbar */

.topnav_phone
{
    margin: 40px 5%;
    position: fixed;
    width: 90%;
    
}

.navbar_phone
{
    background-color: rgba(0, 0, 0, 0.459);
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-family: cursive;
    display: flex;
    width: 100%;
    align-items: center;

}

.navbar_phone .left .logo_phone
{
    width: 85px;

}

.navbar_phone .left
{
    display: flex;
    align-items: center;

}

.navbar_phone .left h2
{
    font-family: cursive;
    font-size: 17px;

}

.navbar_phone .right
{
    margin-left: auto;

}

.topnav_phone .navbar .right h2:active
{
    transition: all 0.9s all;
    transform: scale(0.90);
    
}

.navbar_phone .right .dropdown_icon_phone
{
    cursor: pointer;

}

.navbar_phone .right .dropdown_phone
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    margin-left: -40px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: cursive;
    position: fixed;
    box-shadow: 0.5px 0.5px 20px black;

}

.navbar_phone .right .dropdown_phone h2
{
    border: 2px solid transparent;
    width: 100%;
    font-size: 14px;
    padding: 3px;

}

.tap_phone
{
    background-color: white;
    color: black;
    width: 100%;
    border: 2px solid black;

}

/* stadium */

.stadium_phone
{
    width: 100%;
    height: 200vh;

}

/* baba */
.baba_phone
{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -1130px;

}

/* players */

.head-1_phone
{
    width: 325px;

}

.madrid-head_phone
{
    display: flex;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 15px 10px;
    display: flex;
    border-radius: 30px 30px 0 0;
    text-align: center;
    align-items: center;

}

.madrid-head_phone h2
{
    color: white;
    font-family: cursive;

}

.data-head_phone
{
    background-color: rgba(0, 0, 0, 0.459);
    width: 325px;
    color: white;
    padding: 15px;
    display: flex;

}

.data-head_phone .name
{
    font-size: 15px;

}

.data-head_phone .position
{
    font-size: 15px;
    
}

.one_phone
{
    width: 325px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    color: white;
    display: flex;
    padding: 15px 15px;
    align-items: center;

}

/* player-name */

.player-name_phone
{
    display: flex;
    align-items: center;
    gap: 7px;
    width: 350px;

}

.player-name_phone h3
{
    font-size: 14px;

}

.play
{
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    transition: 0.7s;
    
}

.play:hover
{
    transform: scale(0.95);
    transition: all 0.7s ease;
}

.play-pst_phone
{
    width: 140px;
    font-size: 14px;

}

.ctn_phone
{
    height: 703px;
    margin-top: 60px;
    border-radius: 10px;

}

.flex_phone
{
    display: flex;
    justify-content: center;

}