/* Big Laptop Screen Size Responsiveness */

.head_popup
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.popup
{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    gap: 10px;
    font-family: cursive;
    width: 500px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 20px;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 650px;

}

.popup h2
{
    font-size: 16.5px;

}

/* Navbar Section */

.topnav
{
    padding: 40px 5%;
    position: fixed;
    width: 100%;

}

.navbar
{
    background-color: rgba(0, 0, 0, 0.459);
    border: none;
    color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;

}

.navbar .left
{
    display: flex;
    align-items: center;

}

.navbar .left h2
{
    font-size: 20px;
    font-family: cursive;

}

.navbar .logo
{
    width: 90px;
    cursor: pointer;

}

.navbar .middle
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    
}

.navbar .middle #h2
{
    font-size: 15px;
    
}

.navbar .middle h2
{
    font-family: cursive;
    cursor: pointer;
    padding-bottom: 6px;
    font-size: 15px;

}

.navbar .middle .tap
{
    border-bottom: 2px solid white;
    width: fit-content;

}

/* Stadium Section */

.stadium
{
    height: 100vh;
    width: 100vw;

}

/* Feed_back Section */

.feedback
{
    padding: 6px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 22px;
    position: absolute;
    margin: -170px 0 0 5%;

}

.feedback:hover + .content
{
    display: block;
    
}

.content
{
    display: none;
    
}

.content p
{
    font-size: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: cursive;
    width: fit-content;
    position: absolute;
    margin: -160px 0 0 9%;
    
}

/* News_Heading */

.news_heading h2
{
    background-color: white;
    color: black;
    border: 2px solid black;
    font-family: cursive;
    font-size: 17px;
    cursor: pointer;
    padding: 10px 5%;
    border-radius: 5px;
    margin-top: 2px;

}

/* News */

.news_flex
{
    display: flex;
    padding: 0px 5%;
    gap: 5%;
}

.news
{
    width: 100%;
    /* width: 600px; */
    height: 68vh;
    border: none;
    box-shadow: 0.5px 0.5px 20px black;
    border-radius: 25px;
    cursor: pointer;
    margin-top: 60px;
    transition: 0.8s;

}

.news:hover
{
    box-shadow: 0.8px 0.9px 35px black;

}

.news .img1
{
    border-radius: 25px 25px 0 0;
    height: 75%;
    width: 100%;

}

.news .headline
{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 16px;
    font-family: cursive;
    padding: 5px 15px;

}

.news #headline
{
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: cursive;
    
}




/* Small Laptop Screen Size Responsiveness */

/* Feed_back Section */

.feedback_small
{
    padding: 6px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 20px;
    position: absolute;
    margin: -170px 0 0 5%;

}

.feedback_small:hover + .content_small
{
    display: block;
    
}

.content_small
{
    display: none;
    
}

.content_small p
{
    font-size: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: cursive;
    width: fit-content;
    position: absolute;
    margin: -160px 0 0 9%;
    
}

/* News_Heading_Small */

.news_heading_small h2
{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-family: cursive;
    font-size: 17px;
    cursor: pointer;
    padding: 10px 5%;
    margin-top: 2px;

}

/* Tablet Screen Responsiveness */

/* Navbar */
.topnav_tablet
{
    padding: 40px 5%;
    position: fixed;
    width: 100%;

}

.navbar_tablet
{
    background-color: rgba(0, 0, 0, 0.459);
    border: none;
    color: white;
    border-radius: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 12px;

}

.navbar_tablet .left
{
    display: flex;
    align-items: center;

}

.navbar_tablet .left h2
{
    font-size: 20px;
    font-family: cursive;

}

.navbar_tablet .logo
{
    width: 90px;
    cursor: pointer;

}

.navbar_tablet .middle
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: auto;
    
}

.navbar_tablet .middle h2
{
    font-family: cursive;
    cursor: pointer;
    padding-bottom: 6px;
    font-size: 15px;

}

.navbar_tablet .middle .tap
{
    border-bottom: 2px solid white;
    width: fit-content;

}

/* Stadium */

.stadium
{
    height: 100vh;
    width: 100vw;

}

/* Feed_back Section */

.feedback_tablet
{
    padding: 6px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 20px;
    position: absolute;
    margin: -170px 0 0 5%;

}

.feedback_tablet:hover + .content_tablet
{
    display: block;
    
}

.content_tablet
{
    display: none;
    
}

.content_tablet p
{
    font-size: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: cursive;
    width: fit-content;
    position: absolute;
    margin: -160px 0 0 10%;
    
}

/* News_Heading_tablet */

.news_heading_tablet h2
{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    font-family: cursive;
    font-size: 17px;
    cursor: pointer;
    padding: 12px 5%;
    margin-top: 2px;

}

.news_flex_tablet
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 5%;
    gap: 30px;

}

.news_flex_tablet .news_tablet
{
    box-shadow: 0.5px 0.5px 10px black;
    /* width: 600px; */
    border: none;
    border-radius: 10px;
    cursor: pointer;

}

.news_flex_tablet .news_tablet .img1
{
    height: 300px;
    width: 600px;
    border: none;
    border-radius: 10px 10px 0 0;
    
}

.news_flex_tablet .news_tablet .headline
{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: cursive;
    padding: 10px 6px;
    background-color: white;
    border: none;
    border-radius: 0 0 10px 10px;

}

/* Phone Responsiveness */

.head_popup_phone
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.popup_phone
{
    display: flex;
    flex-direction: column;
    text-align: center;
    position: fixed;
    gap: 10px;
    font-family: cursive;
    width: 300px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    padding: 20px;
    border: none;
    color: white;
    border-radius: 10px;
    margin-top: 850px;

}

.popup_phone h2
{
    font-size: 16.5px;

}

/* Navbar */

.topnav_phone
{
    margin: 40px 5%;
    position: fixed;
    width: 90%;
    
}

.navbar_phone
{
    background-color: rgba(0, 0, 0, 0.459);
    border: none;
    border-radius: 5px;
    padding: 12px;
    color: white;
    font-family: cursive;
    display: flex;
    width: 100%;
    align-items: center;

}

.navbar_phone .left .logo_phone
{
    width: 85px;

}

.navbar_phone .left
{
    display: flex;
    align-items: center;

}

.navbar_phone .left h2
{
    font-family: cursive;
    font-size: 19px;

}

.navbar_phone .right
{
    margin-left: auto;

}

.topnav_phone .navbar .right h2:active
{
    transition: all 0.9s all;
    transform: scale(0.90);
    
}

.navbar_phone .right .dropdown_icon_phone
{
    cursor: pointer;

}

.navbar_phone .right .dropdown_phone
{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.459);
    margin-left: -40px;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: cursive;
    position: fixed;
    box-shadow: 0.5px 0.5px 20px black;

}

.navbar_phone .right .dropdown_phone h2
{
    border: 2px solid transparent;
    width: 100%;
    font-size: 15px;
    padding: 3px;

}

.tap_phone
{
    background-color: white;
    color: black;
    width: 100%;
    border: 2px solid black;

}

/* stadium */

.stadium_phone
{
    height: 80vh;

}

/* Feedback */
.feedback_phone
{
    padding: 6px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.459);
    width: fit-content;
    font-size: 20px;
    position: absolute;
    margin: -170px 0 0 5%;

}

.feedback_phone:hover + .content_phone
{
    display: block;
    
}

.content_phone
{
    display: none;
    
}

.content_phone p
{
    font-size: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 5px;
    padding: 3px;
    font-family: cursive;
    width: fit-content;
    position: absolute;
    margin: -160px 0 0 15%;
    
}

/* News Heading */
.news_heading_phone
{
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 5%;
    font-family: cursive;
    cursor: pointer;
    border-top: 2px solid white;
    border-bottom: 2px solid white;

}

/* News */
.news_phone
{
    display: flex;
    flex-direction: column;
    padding: 40px 5%;

}

.news_phone .left_news_phone 
{
    box-shadow: 0.5px 0.5px 10px black;
    border-radius: 40px;

}

.news_phone .left_news_phone .news_img_phone
{
    border: none;
    border-radius: 20px 20px 0 0;
    cursor: pointer;
    height: 250px;

}

.news_phone .left_news_phone .news_text_phone
{
    font-family: cursive;
    padding: 15px 10px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: center;
    font-size: 15px;

}

.news_phone .right_news_phone 
{
    box-shadow: 0.5px 0.5px 10px black;
    border-radius: 40px;
    margin-top: 50px;

}

.news_phone .right_news_phone .news_img_phone
{
    border: none;
    border-radius: 20px 20px 0 0;
    cursor: pointer;

}

.news_phone .right_news_phone .news_text_phone
{
    font-family: cursive;
    padding: 15px 10px;
    border-radius: 0 0 10px 10px;
    cursor: pointer;
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: center;
    font-size: 15px;

}
